    <!-- ========== HEADER ========== -->
    <header id="header" class="u-header u-header-left-aligned-nav">
        <div class="u-header__section bg-primary">
            <!-- Logo and Menu -->
            <div class="py-2 py-xl-2 bg-primary-down-lg">
                <div class="container my-0dot5 my-xl-0">
                    <div class="row align-items-center">
                        <!-- Logo-offcanvas-menu -->
                        <div class="col-auto">
                            <!-- Nav -->
                            <nav
                                class="navbar navbar-expand u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                                <!-- Logo -->
                                <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center"
                                    href="/" aria-label="ElectronicX" margin-top="-100px">
                                    <img src="/img/logo.png" alt="ElectronicX">
                                </a>
                                <!-- End Logo -->

                            </nav>
                            <!-- End Nav -->

                        </div>
                        <!-- End Logo-offcanvas-menu -->

                        <!-- Customer Care -->
                        <!-- <div class="d-none d-xl-block ml-auto">
                            <div class="d-flex">
                                <i class="ec ec-mail font-size-50 text-primary"></i>
                                <div class="ml-2">
                                    <div class="phone">
                                        <strong>mail</strong> <a href="tel:800856800604" class="text-gray-90">(+800) 856 800 604</a>
                                    </div>
                                    <div class="email">
                                        E-mail: <a href="mailto:info@electro.com?subject=Help Need" class="text-gray-90">info@electro.com</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Customer Care -->
                        <!-- Header Icons -->
                        <div class="col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static ml-auto">
                            <div class="d-inline-flex">
                                <ul class="d-flex list-unstyled mb-0 align-items-center">


                                    <li class="col"><a href="/wishlist/?email=<%=email%>" class="text-gray-90"
                                            data-toggle="tooltip" data-placement="top" title="Bookmarked"><i
                                                class="font-size-18 fa fa-bookmark"></i></a></li>
                                    <li class="col"><a href="/logout" class="text-gray-90" data-toggle="tooltip"
                                            data-placement="top" title="Logout"><i
                                                class="font-size-20 fas fa-sign-out-alt"></i></a></li>
                                    <li><%=email%></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Icons -->
                    </div>
                </div>
            </div>
            <!-- End Logo and Menu -->


        </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <div class="d-none d-xl-block">

        <div class="row " style="width: 1851px;">
            <div class="col-2 bg-light " style="height:75vh" id="sticky-sidebar">

                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                    <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content">
<br><br>
<!-- Search Bar -->
                         
                                <form class="js-focus-state" action="/search" method="get">
                                    <input class="form-control" name="email" type="hidden" id="email"
                                        value="<%=email%>">

                                    <label class="sr-only" for="searchproduct">Search</label>
                                    <div class="input-group">
                                        <select
                                            class="form-control js-select selectpicker dropdown-select py-0 font-size-15"
                                            data-live-search="true" name="word" id="word"
                                            placeholder="Search for Products" required
                                            data-style="form-control font-weight-normal border-color-primary border-right-0 height-40 border-width-2 rounded-left-pill border-primary">
                                            <option value="">Search Solutions</option>
                                           
                                        </select>
                                    
                                        <div class="input-group-append">
                                            <button class="btn btn-primary height-40 py-2 px-3 rounded-right-pill" type="submit" id="searchProduct1">
                                                <span class="ec ec-search font-size-24"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                           
                        
                            <!-- End Search Bar -->
                            <br><br>

                        <!-- List -->
                        <ul id="headerSidebarList" class="u-header-collapse__nav">
                            <!-- Home Section -->
                            <li claml-2ss="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link" href="/"><b>Solution</b></a>

                            </li>
                            <!-- End Home Section -->
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse1" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span> HP</b>
                                </a>

                                <div id="headerSidebarPagesCollapse1" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">
                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Laptops</a>
                                        </li>

                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Laptop
                                                Accessories</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse2" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span> Lenovo</b>
                                </a>

                                <div id="headerSidebarPagesCollapse2" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">
                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Laptops</a>
                                        </li>

                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Laptop
                                                Accessories</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        Asus</b>
                                </a>

                                <div id="headerSidebarPagesCollapse" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">
                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Laptops</a>
                                        </li>

                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Routers</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse3" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        TP Link</b>
                                </a>

                                <div id="headerSidebarPagesCollapse3" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">

                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Routers</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse6" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        Apple</b>
                                </a>

                                <div id="headerSidebarPagesCollapse6" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">

                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Smart
                                                Phones</a>
                                        </li>
                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Smart Phone
                                                Accessories</a></li>


                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse7" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        One Plus</b>
                                </a>

                                <div id="headerSidebarPagesCollapse7" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">

                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Smart
                                                Phones</a>
                                        </li>
                                        <li><a href="/" class="nav-link u-header-collapse__submenu-nav-link">Smart Phone
                                                Accessories</a></li>


                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- End List -->
                    </div>
                </div>
                <!-- End Content -->


            </div>
            <div class="col-8 bg-dark" style="overflow-x: hidden;">
               <!-- <img class=" border border-dark" src="/img/999.jpeg" height="675 px"> -->
               <iframe class="pt-3" width="1232" height="663"  src="https://www.youtube.com/embed/WA4dDs0T7sM?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               <h4><div class="float-left pt-2 pl-3"><a href="/wishlist/?email=<%=email%>"><i
                class="fa fa-heart"></i> Rate us</a></div></h4>
                <h4><div class="float-right "><a href="/wishlist/?email=<%=email%>"><i
                class="fa fa-bookmark"></i> Bookmark it!</a></div><br></h4>
            </div>
            <div class="col bg-dark " id="main">
                <h3 class="text-center text-primary">
                    <br><b>
                        Overview</b></h3>
                    <br>
                    <h5 class="text-center text-white"><b>
                        No. of Users
                    </b><br>
                    2000
                    <br><b>
                        No. of Likings
                    </b><br>
                    5000
                    <br><b>
                        No. of Searches
                    </b><br>
                    4000
                    <br><b>
                        No. of Products
                    </b><br>
                    20
                </div>
            </h5>
            </div>

            <!-- ========== END MAIN CONTENT ========== -->

            <!-- ========== FOOTER ========== -->
            <footer>
                <!-- Footer-bottom-widgets -->
                <div class="pt-8 pb-4 bg-primary">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="mb-6">
                                    <a href="#" class="d-inline-block">
                                        <img src="img/logo.png" alt="ElectronicX" height="100">
                                    </a>
                                </div>
                                <div class="mb-4">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <i class="ec ec-mail text-gray-90 font-size-56"></i>
                                        </div>
                                        <div class="col pl-3">
                                            <div class="font-size-13 ">Got questions? Mail us!</div>
                                            <div><a href="mailto:elex.electronicx@gmail.com"
                                                    class="text-black">elex.electronicx@gmail.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <h5 class="text-black"> <b>Request VBP <a href="mailto:elex.electronicx@gmail.com"
                                    class="text-black"> <br> @ elex.electronicx@gmail.com</a><br><br></b></h5>
                                <div class="row">
                                    <div class="col-12 col-md mb-4 mb-md-0">
                                        <h6 class="mb-3 font-weight-bold">Find it Fast</h6>
                                        <!-- List Group -->
                                        <ul
                                            class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                                            <li><a class="list-group-item list-group-item-action"
                                                    href="/brandshop/?brand=Asus">Asus</a></li>
                                            <li><a class="list-group-item list-group-item-action"
                                                    href="/brandshop/?brand=TP-Link">TP-Link</a></li>
                                            <li><a class="list-group-item list-group-item-action"
                                                    href="/brandshop/?brand=Apple">Apple</a></li>
                                            <li><a class="list-group-item list-group-item-action"
                                                    href="/brandshop/?brand=OnePlus">OnePlus</a></li>
                                            <li><a class="list-group-item list-group-item-action"
                                                    href="/brandshop/?brand=Lenovo">Lenovo</a></li>
                                            <li><a class="list-group-item list-group-item-action"
                                                    href="/brandshop/?brand=HP">HP</a></li>
                                        </ul>
                                        <!-- End List Group -->
                                    </div>
                                    <div class="col-12 col-md mb-4 mb-md-0">
                                        <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fas fa-home"></i>
                                                Home</a></h6>
                                        <h6 class="mb-3 font-weight-bold"><a href="/wishlist/?email=<%=email%>"><i
                                                    class="fa fa-bookmark"></i> Bookmarked Products</a></h6>
                                        <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fa fa-search"></i>
                                                Search
                                                Products</a></h6>
                                        <h6 class="mb-3 font-weight-bold"><a href="/logout"><i
                                                    class="fas fa-sign-out-alt"></i>
                                                Logout</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer-bottom-widgets -->
                <!-- Footer-copy-right -->
                <div class="bg-gray-14 py-2">
                    <div class="container">
                        <div class="flex-center-between d-block d-md-flex">
                            <div class="mb-3 mb-md-0">This site is for educational purpose only</div>
                            <div class="text-md-right">
                                © Ishmeet Kaur, Mushira Shaikh & Gianna Drego
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer-copy-right -->
            </footer>
            <!-- ========== END FOOTER ========== -->

            <!-- Go to Top -->
            <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
                data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp"
                data-hide-effect="slideOutDown">
                <span class="fas fa-arrow-up u-go-to__inner"></span>
            </a>
            <!-- End Go to Top -->