    <!-- ========== HEADER ========== -->
    <header id="header" class="u-header u-header-left-aligned-nav">
        <div class="u-header__section bg-primary">
            <!-- Logo and Menu -->
            <div class="py-2 py-xl-2 bg-primary-down-lg">
                <div>
                    <div class="row align-items-center">
                        <!-- Logo-offcanvas-menu -->
                        <div class="col-auto">
                            <!-- Nav -->
                            <nav
                                class="navbar navbar-expand pl-2 u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                                <!-- Logo -->
                                <a href="/" aria-label="BuyAnalytics">
                                    <img class="rounded" src="/img/logo.png" alt="BuyAnalytics" height="100">
                                </a>
                                <!-- End Logo -->

                            </nav>
                            <!-- End Nav -->

                        </div>
                        <!-- End Logo-offcanvas-menu -->

                        <!-- Customer Care -->
                        <!-- <div class="d-none d-xl-block ml-auto">
                            <div class="d-flex">
                                <i class="ec ec-mail font-size-50 text-primary"></i>
                                <div class="ml-2">
                                    <div class="phone">
                                        <strong>mail</strong> <a href="tel:800856800604" class="text-gray-90">(+800) 856 800 604</a>
                                    </div>
                                    <div class="email">
                                        E-mail: <a href="mailto:info@electro.com?subject=Help Need" class="text-gray-90">info@electro.com</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Customer Care -->
                        <!-- Header Icons -->
                        <div class="col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static ml-auto">
                            <div class="d-inline-flex">
                                <ul class="d-flex list-unstyled mb-0 align-items-center">


                                    <li class="col"><a href="/wishlist" class="text-gray-90"
                                            data-toggle="tooltip" data-placement="top" title="Bookmarked"><i
                                                class="font-size-18 fa fa-bookmark"></i></a></li>
                                    <li class="col"><a href="#addModal" class="text-gray-90" data-toggle="modal" ><i
                                                class="font-size-20 fas fa-sign-out-alt"></i></a></li>
                                    <li><%=email%></li>
                                    <li><img src="/img/a" height="100" class="pr-2 pl-3 rounded-circle"></img></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Icons -->
                    </div>
                </div>
            </div>
            <!-- End Logo and Menu -->


        </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <div class="d-none d-xl-block">

        <div class="row " style="width: 1851px;">
            <div class="col-2 bg-light " style="height:75vh" id="sticky-sidebar">

                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                    <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content">
                        <br><br>
                        <!-- Search Bar -->

                        <form class="js-focus-state" action="/search" method="post">
                            <label class="sr-only" for="searchproduct">Search</label>
                            <div class="input-group">
                                <select class="form-control js-select selectpicker dropdown-select py-0 font-size-15"
                                    data-live-search="true" name="word" id="word" placeholder="Search for Products"
                                    required
                                    data-style="form-control font-weight-normal border-color-primary border-right-0 height-40 border-width-2 rounded-left-pill border-primary">
                                    <option value="">Search Solutions</option>
                                    <% for (var j=1; j<12; j++){%>
                                        <option value="<%=results[j].brand%>"><%=results[j].brand%></option>
                                        <%}%>
                                </select>

                                <div class="input-group-append">
                                    <button class="btn btn-primary height-40 py-2 px-3 rounded-right-pill" type="submit"
                                        id="searchProduct1">
                                        <span class="ec ec-search font-size-24"></span>
                                    </button>
                                </div>
                            </div>
                        </form>


                        <!-- End Search Bar -->
                        <br><br>
<h5>
                        <!-- List -->
                        <ul id="headerSidebarList" class="u-header-collapse__nav">
                            <!-- Home Section -->
                            <li claml-2ss="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link" href="/"><b>Solution</b></a>

                            </li>
                            <!-- End Home Section -->
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse1" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span> HP</b>
                                </a>

                                <div id="headerSidebarPagesCollapse1" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">
                                        <li><a href="/Vcharts/?brand=HPLaptops"
                                                class="nav-link u-header-collapse__submenu-nav-link">Laptops</a>
                                        </li>

                                        <li><a href="/Vcharts/?brand=HPAccessories"
                                                class="nav-link u-header-collapse__submenu-nav-link">Laptop
                                                Accessories</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse2" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span> Lenovo</b>
                                </a>

                                <div id="headerSidebarPagesCollapse2" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">
                                        <li><a href="/Vcharts/?brand=LenovoLaptops"
                                                class="nav-link u-header-collapse__submenu-nav-link">Laptops</a>
                                        </li>

                                        <li><a href="/Vcharts/?brand=LenovoAccessories"
                                                class="nav-link u-header-collapse__submenu-nav-link">Laptop
                                                Accessories</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        Asus</b>
                                </a>

                                <div id="headerSidebarPagesCollapse" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">
                                        <li><a href="/Vcharts/?brand=AsusLaptops"
                                                class="nav-link u-header-collapse__submenu-nav-link">Laptops</a>
                                        </li>

                                        <li><a href="/Vcharts/?brand=AsusRouters"
                                                class="nav-link u-header-collapse__submenu-nav-link">Routers</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse3" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        TP Link</b>
                                </a>

                                <div id="headerSidebarPagesCollapse3" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">

                                        <li><a href="/Vcharts/?brand=TPLinkRouters"
                                                class="nav-link u-header-collapse__submenu-nav-link">Routers</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse6" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        Apple</b>
                                </a>

                                <div id="headerSidebarPagesCollapse6" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">

                                        <li><a href="/Vcharts/?brand=ApplePhones"
                                                class="nav-link u-header-collapse__submenu-nav-link">Smart
                                                Phones</a>
                                        </li>
                                        <li><a href="/Vcharts/?brand=AppleAccessories"
                                                class="nav-link u-header-collapse__submenu-nav-link">Smart Phone
                                                Accessories</a></li>


                                    </ul>
                                </div>
                            </li>
                            <li class="u-has-submenu u-header-collapse__submenu">
                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                    href="javascript:;" data-target="#headerSidebarPagesCollapse7" role="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="headerSidebarPagesCollapse">
                                    <b><span class="ec ec-thing-arrow-right"> </span>
                                        One Plus</b>
                                </a>

                                <div id="headerSidebarPagesCollapse7" class="collapse"
                                    data-parent="#headerSidebarContent">
                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list  text-primary">

                                        <li><a href="/Vcharts/?brand=OnePlusPhones"
                                                class="nav-link u-header-collapse__submenu-nav-link">Smart
                                                Phones</a>
                                        </li>
                                        <li><a href="/Vcharts/?brand=OnePlusAccessories"
                                                class="nav-link u-header-collapse__submenu-nav-link">Smart Phone
                                                Accessories</a></li>


                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- End List -->
</h5>
                    </div>
                </div>
                <!-- End Content -->


            </div>
            <div class="col-8 bg-dark" style="overflow-x: hidden;">
                <!-- <img class=" border border-dark" src="/img/999.jpeg" height="675 px"> -->
                <iframe class="pt-3 pb-2 " width="1204" height="663" src="<%=results[0].video%>"
                    frameborder="0" allow="autoplay"></iframe>
                
                    <% if (results[0].brand=="None") {%>
                        <div class="bg-primary pb-1 mb-3">
                        <h4 ><marquee class="pt-2" >Select a solution from the left menu and click on the "View Report" button to view analytics. You can bookmark your favourites and view them later. Please don't forget to rate! Mail us for your requirements

                        </marquee></h4>
                    <%} else{%><div class="bg-primary pb-5 mb-3">
                       <div class="rating float-left mt-0">
                        <input type="radio" name="rating" value="5" id="5"
                            onclick="location.href='/rate/?rating=5&brand=<%=results[0].brand%>'"><label
                            for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"
                            onclick="location.href='/rate/?rating=4&brand=<%=results[0].brand%>'"><label
                            for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"
                            onclick="location.href='/rate/?rating=3&brand=<%=results[0].brand%>'"><label
                            for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"
                            onclick="location.href='/rate/?rating=2&brand=<%=results[0].brand%>'"><label
                            for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"
                            onclick="location.href='/rate/?rating=1&brand=<%=results[0].brand%>'"><label
                            for="1">☆</label>
                        <h4 class="pt-2 pr-2 pl-3 font-weight-bold text-black">Rate Us</h4>

                    </div>

                    <div class="bg-primary pb-4">
                        <h4 class=" float-right pt-2 pr-3 font-weight-bold"><a href="/addtowishlist/?brand=<%=results[0].brand%>"><i class="fas fa-bookmark "></i>
                                Bookmark it!</a></h4>
                    </div>
                    <%}%>
                </div>
            </div>
            <div class="col bg-dark " id="main">
<br>
                <h3 class="text-warning"><b>Solution:</b> </h3>
                <a href="#" class="d-block">
                    <img class="img-fluid pt-6" src="<%= results[0].logo%>">
                </a>
                <h3 class="text-center text-primary">
                    <br><b><%=results[0].solution%></b></h3>
                <br>
                <h5 class="text-center text-white"><%= results[0].s_desc %></h5>
                <h5 class="text-center text-white">

                </h5><br><br><br>
                
                <% if (results[0].brand!="None") {%>
                <a href="/powerbi/?brand=<%=results[0].brand%>" class=" btn btn-sm btn-block btn-warning btn-wide transition-3d-hover mb-4 pt-2 pb-0">
                    <h5>
                        View Report<i class="float-right pt-2 ec ec-arrow-right-categproes mr-2 font-size-20"></i></h5>
                </a>
                <%}%>
            </div>
        </div>
        <div id="addModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Don't forget to ask for a quote!</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div id="two">
                                <div class="form-group">
        <h5>We hope you found what you were looking for!<br>
        You can ask for a quote by emailing us at <b>"buyanalytics@gmail.com"</b><br><br>
OR click the button below<br></h5>
                                    
                                
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <a role="button" href="/quote" class="btn btn-success" value="Ask quote">Ask Quote</a>
                            <a role="button" href="/discount"  class="btn btn-danger" value="Quit">Quit</a>


                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ========== END MAIN CONTENT ========== -->

        <!-- ========== FOOTER ========== -->
        <footer>

            <!-- Footer-bottom-widgets -->
            <div class="pt-4 pb-4 bg-primary">
                <div class="container">
                    <a href="/quote" class="btn btn-sm btn-block btn-warning btn-wide transition-3d-hover mb-4 pt-2 pb-0">
                        <h4>
                            <i class="ec ec-compare mr-2 font-size-25"></i> Request Quotation</h4>
                    </a>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="mb-6">
                                <a href="#" class="d-inline-block">
                                    <img class="rounded" src="img/logo.png" alt="BuyAnalytics" height="100">
                                </a>
                            </div>
                            <div class="mb-4">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <i class="ec ec-mail text-gray-90 font-size-56"></i>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="font-size-13 ">Got questions? Mail us!</div>
                                        <div><a href="mailto:elex.BuyAnalytics@gmail.com"
                                                class="text-black">elex.BuyAnalytics@gmail.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <h5 class="text-black"> <b>Request Quotation <a href="mailto:elex.BuyAnalytics@gmail.com"
                                        class="text-black"> <br>elex.BuyAnalytics@gmail.com<br>
                                        Phone no.: <tel>9967937644</tel></a><br><br></b></h5>
                            <div class="row">
                                <div class="col-12 col-md mb-4 mb-md-0">
                                    <h6 class="mb-3 font-weight-bold">Find it Fast</h6>
                                    <!-- List Group -->
                                    <ul
                                        class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Asus">Asus</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=TP-Link">TP-Link</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Apple">Apple</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=OnePlus">OnePlus</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Lenovo">Lenovo</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=HP">HP</a></li>
                                    </ul>
                                    <!-- End List Group -->
                                </div>
                                <div class="col-12 col-md mb-4 mb-md-0">
                                    <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fas fa-home"></i>
                                            Home</a></h6>
                                    <h6 class="mb-3 font-weight-bold"><a href="/wishlist/?email=<%=email%>"><i
                                                class="fa fa-bookmark"></i> Bookmarked Products</a></h6>
                                    <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fa fa-search"></i>
                                            Search
                                            Products</a></h6>
                                    <h6 class="mb-3 font-weight-bold"><a href="/logout"><i
                                                class="fas fa-sign-out-alt"></i>
                                            Logout</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-bottom-widgets -->
            <!-- Footer-copy-right -->
            <div class="bg-gray-14 py-2">
                <div class="container">
                    <div class="flex-center-between d-block d-md-flex">
                        <div class="mb-3 mb-md-0">This site is for educational purpose only</div>
                        <div class="text-md-right">
                            © Ishmeet Kaur, Mushira Shaikh & Gianna Drego
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-copy-right -->
        </footer>
        
        <!-- ========== END FOOTER ========== -->

        <!-- Go to Top -->
        <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
            data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp"
            data-hide-effect="slideOutDown">
            <span class="fas fa-arrow-up u-go-to__inner"></span>
        </a>
        <!-- End Go to Top -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
