    <!-- ========== HEADER ========== -->
    <header id="header" class="u-header u-header-left-aligned-nav">
        <div class="u-header__section bg-primary">
            <!-- Logo and Menu -->
            <div class="py-2 py-xl-2 bg-primary-down-lg">
                <div>
                    <div class="row align-items-center">
                        <!-- Logo-offcanvas-menu -->
                        <div class="col-auto">
                            <!-- Nav -->
                            <nav
                                class="navbar navbar-expand pl-2 u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                                <!-- Logo -->
                                <a href="/" aria-label="BuyAnalytics">
                                    <img src="/img/logo.png" alt="BuyAnalytics" height="100">
                                </a>
                                <!-- End Logo -->

                            </nav>
                            <!-- End Nav -->

                        </div>
                        <!-- End Logo-offcanvas-menu -->

                        <!-- Customer Care -->
                        <!-- <div class="d-none d-xl-block ml-auto">
                            <div class="d-flex">
                                <i class="ec ec-mail font-size-50 text-primary"></i>
                                <div class="ml-2">
                                    <div class="phone">
                                        <strong>mail</strong> <a href="tel:800856800604" class="text-gray-90">(+800) 856 800 604</a>
                                    </div>
                                    <div class="email">
                                        E-mail: <a href="mailto:info@electro.com?subject=Help Need" class="text-gray-90">info@electro.com</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- End Customer Care -->
                        <!-- Header Icons -->
                        <div class="col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static ml-auto">
                            <div class="d-inline-flex">
                                <ul class="d-flex list-unstyled mb-0 align-items-center">


                                    <li class="col"><a href="/wishlist/?email=<%=email%>" class="text-gray-90"
                                            data-toggle="tooltip" data-placement="top" title="Bookmarked"><i
                                                class="font-size-18 fa fa-bookmark"></i></a></li>
                                    <li class="col"><a href="/logout" class="text-gray-90" data-toggle="tooltip"
                                            data-placement="top" title="Logout"><i
                                                class="font-size-20 fas fa-sign-out-alt"></i></a></li>
                                    <li><%=email%></li>
                                    <li><img src="/img/10.jpg" height="100" class="pr-2 pl-3"></img></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Icons -->
                    </div>
                </div>
            </div>
            <!-- End Logo and Menu -->


        </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="cart-page">

    <div class="container">
        <div class="my-6">
            <h1 class="text-center">Bookmarked Products</h1>
        </div>
        <div class="mb-16 wishlist-table">
            <form class="mb-4" action="#" method="post">
                <div class="table-responsive">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name ">Solution</th>
                                <th class="product-brand">Description</th>
                                <th class="product-price">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.forEach(function(results) {%>
                            <tr>
                                <td class="text-center">
                                    <a href="/removefromwishlist/?brand=<%=results.brand%>"
                                        class="text-gray-32 font-size-26">×</a>
                                </td>
                                <td class="d-none d-md-table-cell">
                                    <a href="/Vcharts/?brand=<%=results.brand%>"><img class="img-fluid max-width-100 p-1" src="<%= results.logo %>"></a>
                                </td>

                                <td data-title="Solution">
                                    <a href="/Vcharts/?brand=<%=results.brand%>"
                                        class="text-gray-90"><%= results.solution %></a>
                                </td>
                                <td data-title="Description">
                                    <a href="/Vcharts/?brand=<%=results.brand%>"
                                        class="text-gray-90"><%= results.s_desc %></a>
                                </td>
                                <td>
                                    <a href="/powerbi/?brand=<%=results.brand%>" class="btn btn-sm btn-block btn-warning btn-wide transition-3d-hover mb-4 pt-2 pb-0">
                                        <h6>
                                            View Report<i class="float-right pt-1 ec ec-arrow-right-categproes font-size-20"></i></h6>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->

        <!-- ========== FOOTER ========== -->
        <footer>

            <!-- Footer-bottom-widgets -->
            <div class="pt-4 pb-4 bg-primary">
                <div class="container">
                    <a href="/" class="btn btn-sm btn-block btn-warning btn-wide transition-3d-hover mb-4 pt-2 pb-0">
                        <h4>
                            <i class="ec ec-compare mr-2 font-size-25"></i> Request VBP</h4>
                    </a>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="mb-6">
                                <a href="#" class="d-inline-block">
                                    <img src="img/logo.png" alt="BuyAnalytics" height="100">
                                </a>
                            </div>
                            <div class="mb-4">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <i class="ec ec-mail text-gray-90 font-size-56"></i>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="font-size-13 ">Got questions? Mail us!</div>
                                        <div><a href="mailto:elex.BuyAnalytics@gmail.com"
                                                class="text-black">elex.BuyAnalytics@gmail.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <h5 class="text-black"> <b>Request VBP <a href="mailto:elex.BuyAnalytics@gmail.com"
                                        class="text-black"> <br>elex.BuyAnalytics@gmail.com<br>
                                        Phone no.: <tel>9967937644</tel></a><br><br></b></h5>
                            <div class="row">
                                <div class="col-12 col-md mb-4 mb-md-0">
                                    <h6 class="mb-3 font-weight-bold">Find it Fast</h6>
                                    <!-- List Group -->
                                    <ul
                                        class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Asus">Asus</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=TP-Link">TP-Link</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Apple">Apple</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=OnePlus">OnePlus</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Lenovo">Lenovo</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=HP">HP</a></li>
                                    </ul>
                                    <!-- End List Group -->
                                </div>
                                <div class="col-12 col-md mb-4 mb-md-0">
                                    <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fas fa-home"></i>
                                            Home</a></h6>
                                    <h6 class="mb-3 font-weight-bold"><a href="/wishlist/?email=<%=email%>"><i
                                                class="fa fa-bookmark"></i> Bookmarked Products</a></h6>
                                    <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fa fa-search"></i>
                                            Search
                                            Products</a></h6>
                                    <h6 class="mb-3 font-weight-bold"><a href="/logout"><i
                                                class="fas fa-sign-out-alt"></i>
                                            Logout</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-bottom-widgets -->
            <!-- Footer-copy-right -->
            <div class="bg-gray-14 py-2">
                <div class="container">
                    <div class="flex-center-between d-block d-md-flex">
                        <div class="mb-3 mb-md-0">This site is for educational purpose only</div>
                        <div class="text-md-right">
                            © Ishmeet Kaur, Mushira Shaikh & Gianna Drego
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-copy-right -->
        </footer>
        <!-- ========== END FOOTER ========== -->

        <!-- Go to Top -->
        <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
            data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp"
            data-hide-effect="slideOutDown">
            <span class="fas fa-arrow-up u-go-to__inner"></span>
        </a>
        <!-- End Go to Top -->
        
        
        
        
        


